# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Executables
*.exe
*.out

# Go Binary
*.exe
*.test
*.prof

# Vendor directory
/vendor/

# Go Modules
/go.mod
/go.sum

# Output files
*.html

# IDE-specific files
.idea/
.vscode/
